<!DOCTYPE html>
<html lang="en-US">

    <head>
        <meta charset="utf-8">
        <title>Lens calculator</title>
    </head>

    <body>

        <h1>Lens calculator</h1>

        <form action="{{ url_for('result') }}" method="GET">

            <ul>

                {% for variable in variables %}

                <li>
                <label for="{{variable}}">{{variable}}</label>
                <input type="number" step="any" id="{{variable}}" name="{{variable}}">
                </li>

                {% endfor %}

                <li>
                <button type="submit">Calculate!</button>
                </li>

            </ul>

        </form>

    </body>

</html>
